# Ignore node_modules directory
node_modules/

# Ignore Visual Studio Code settings directory
.vscode/

# Ignore macOS system file
.DS_Store

# Ignore log files
server-logs.txt
request_logs.txt
access.log
server-logs/

# Ignore environment variables file
.env
